img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.addEmployee
{
    display: block;
    height: 20px;  /*height of icon */
    width: 20px;  /*width of icon */
    position: absolute;

}
