.error{
    color: red;
    font-style: italic;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

/*td, th {*/
/*    font-size: 20px;*/
/*    border-bottom: 1px solid #000000;*/
/*    padding: 8px;*/
/*    text-align: left;*/
/*    vertical-align: middle;*/
/*    height: 50px;*/
/*    width: 250px;*/
/*}*/

/*.checkbox{*/
/*    font-size: 15px;*/
/*    vertical-align: middle;*/
/*    horiz-align: center;*/
/*}*/

button:hover{
    color: hotpink;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
/*.checkboxSkills{*/
/*    column-count: 4;*/
/*}*/

